@model IndexModel

<ul id="task-list" class="list-group mb-0">
    @if (!Model.Todos.Any())
    {
        <li class="list-group-item border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
            <div class="alert alert-info">
                <p>
                <i class="fa fa-info-circle"></i>
                    Please enter a task to complete
                </p>
            </div>
        </li>
    }
    @foreach (var todo in Model.Todos)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
            <div class="d-flex align-items-center">
                <input
                    hx-post
                    hx-page="Index"
                    hx-page-handler="UpdateTodo"
                    hx-route-id="@todo.Id"
                    class="form-check-input me-2"
                    type="checkbox"
                    name="isCompleted"
                    checked="@(todo.IsCompleted ? true : null)"
                    value="true"/>
                @todo.Text
            </div>
            <a href="#"
               hx-post
               hx-page="Index"
               hx-page-handler="RemoveTodo"
               hx-route-id="@todo.Id"
               hx-confirm="Are you sure you want to remove this task?"
               hx-target="#task-list"
               hx-swap="outerHTML"
               data-mdb-toggle="tooltip" title="Remove item">
                <i class="fas fa-times text-primary"></i>
            </a>
        </li>
    }
</ul>